/* File: app/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-textured {
    @apply bg-brand-background;
    background-image: url("/noise-texture.png");
    background-repeat: repeat;
  }
}

@layer base {
  body {
    @apply bg-textured text-brand-body;
  }
}
